# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Xcode
build/
DerivedData/
*.xcuserdata
xcuserdata/
*.xcuserstate
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.xccheckout
*.xcscmblueprint

# Build outputs
*.ipa
*.dSYM.zip
*.dSYM
*.app

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Swift Package Manager
.swiftpm/
Package.resolved
